html, body, .fullSize {
    width: 100%;
    height: 100%;
    margin: 0;
}

rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}